*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background: hsl(210, 6%, 94%); */
}
.box{
    margin: 15px;
    width: 200px;
    height: 200px;
    /* border: 2px solid red; */
}
.input{
    margin: 15px;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    height: 30px;
    background: rgb(59, 59, 59);
    color: rgb(237, 230, 237);
    outline: solid rgba(114, 114, 116, 0.741);
    border: none;
    border-radius: 5px;
    place-items:initial;
}
